<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Web_Processing_Image/flask_app/templates/CSS/main.css">
    <link rel="stylesheet" href="">
    Web_Processing_Image
    <title>Site da Aplicação</title>
</head>
<body>
    <header class="img_header" >
        <button onclick="window.location.reload()">Home</button>
        <button>Modo daltonico</button>
        
        <p class="circulo_cinza">
            <p class="ciculo_centro">
                <button>
                    Inserir imagem
                </button>
                <span>

                </span>
            </p>
        </p>

    </header>
    <p class="Quadrado">
        <h3>Eliminação de ruidos</h3>
        <button>Varição total (TV)</button>
        <button>Bilateral</button>
        <button>Wavelet</button>
        <button>Média não-lateral</button>
        <h3>Segmetação</h3>
        <button>Linear interativo simples</button>
    
        <h3>Descrição</h3>
        <p class="retangolo"></p>

    </p>        
    <footer class="img_footer"></footer>

</body>
</html>