<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css')}}">


    <title>Processamento na web </title>
</head>

<body>
    <header class="img_header">
        <img class="img-header" src="{{ url_for('static', filename='images/header.jpeg')}}">
        <button class='home' onclick="window.location.reload()">Home</button>
        <button class="modo">Modo daltonico</button>

        <p class="circulo_cinza">
        <p class="ciculo_centro">
            <button class="inserir_img">
                Inserir imagem
            </button>
            <span class="baixar_img">

            </span>
        </p>
        </img>

    </header>
    <p class="Quadrado">
    <h3>Eliminação de ruidos</h3>
    <button class="tv">Varição total (TV)</button>
    <button class="bilateral">Bilateral</button>
    <button class="wavelet">Wavelet</button>
    <button class="media">Média não-lateral</button>
    <h3>Segmetação</h3>
    <button class="lis">Linear interativo simples</button>

    <h3>Descrição</h3>
    <p class="retangolo"></p>

    </p>
    <footer class="img_footer">
        <img class="img_footer" src="{{ url_for('static', filename='images/footer.jpeg' )}}">
    </footer>

</body>

</html>