<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css')}}">


    <title>Processamento na web </title>
</head>

<body>
    <div id="BACKGROUND"></div>

    <div id="SITE_CONTAINER">
        <div id="DIV_SITE_HEADER">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
        </div>
        <div id="site-root">

            <form action="http://127.0.0.1:5000/" method="POST" enctype="multipart/form-data">
                <label for="meuArquivo">Upload Arquivo</label><br>
                <input type="file" id="meuArquivo" name="meuArquivo"><br>
                <input type="submit" value="Submit">
            </form>

            <img>
            <img src="" alt="">
        </div>
    </div>

</body>

</html>