<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css')}}"> -->
    <title>Processamento na web </title>
</head>

<body>
    <div class="site-header-nav">
        <div class="header-icon">
            <p> Icone </p>
        </div>
        <div class="header-title">
            <h3>Processing Images</h3>
        </div>
    </div>

    <div class="site-container">
        <div class="card">
            <form id="button_from_post" action="http://127.0.0.1:8000/assets" method="post"
                enctype="multipart/form-data">
                <input type="file" id="meuArquivo" name="meuArquivo"></br>
                <input class="sub" type="submit" value="Submit">
            </form>
        </div>

        <div class="card">
            <button class="btn">Aplicar filtro</button>
        </div>

        <div class="card">
            <h1>Card3</h1>
        </div>
    </div>
</body>

</html>