*{
    width: 100%;
    height: 100%; 
    max-width: 1339px;
    max-height: 1604px;
}

header.img_header{
    width: 100%;
    height: 100%;

    max-width: 1339px;
    max-height: 554px;
    background-color: black;
    position: absolute;
    /*background: url(/Web_Processing_Image/flask_app/templates/images/header.jpeg) no-repeat;
    
    mix-blend-mode: exclusion;*/
}
