button.select_img {
    width: 100%;
    height: 100%;

    max-width: 81px;
    max-height: 25px;

    background-color: white;
    position: relative;
    padding: 0;
    margin: 10% 50% 10%;
    border-radius: 20%;

    text-align: center;
}

input.sub {
    width: 100%;
    height: 100%;
    max-width: 81px;
    max-height: 25px;

    background-color: white;
    border-radius: 20%;
    text-align: center;

    margin-top: 200px;
    display: flex;
}

button.return_img {
    max-width: 150px;
    max-height: 130px;
    background-color: white;

    position: relative;
    padding: 0;
    margin: 10% 49% 120%;
    text-align: center;
    display: flex;

}

p.Produtos {
    background: black;
    color: white;
    padding: 40px 30px;
    text-decoration: none;
}

li.Blog {
    background: black;
    color: white;
    padding: 40px 30px;
    text-decoration: none;
}

li.Cases {
    background: black;
    color: white;
    padding: 40px 30px;
    text-decoration: none;
}

li.Contatos {
    background: black;
    color: white;
    padding: 40px 30px;
    text-decoration: none;
}