button.select_img {
    width: 120px;
    height: 150px;
    background-color: white;
    position: relative;
    padding: 0;
    margin: 10% 50% 10%;
}

button.return_img {
    max-width: 150px;
    max-height: 130px;
    background-color: white;

    position: relative;
    padding: 0;
    margin: 10% 49% 120%;
}

h3 {
    color: white;
}

p.Produtos {
    color: white;
}

li.Blog {
    color: white;
}

li.Cases {
    color: white;
}

li.Contatos {
    color: white;
}