button {
    max-width: 15px;
    max-height: 30px;
}

button.select_img {
    width: 12px;
    height: 15px;
}

button.return_img {
    width: 12px;
    height: 15px;
}

h3 {
    color: white;
}

p.Produtos {
    color: white;
}

li.Blog {
    color: white;
}

li.Cases {
    color: white;
}

li.Contatos {
    color: white;
}