*{
    width: 100%;
    height: 100%; 
    max-width: 1339px;
    max-height: 1604px;
}

header.img_header{
    width: 100%;
    height: 100%;

    max-width: 1339px;
    max-height: 554px;


}

img.img-header{
    width: 100%;
    height: 100%;

    max-width: 1339px;
    max-height: 554px;
    position: absolute;
    mix-blend-mode:exclusion;
    filter: sepia(30%)
}

footer.img_footer{
    width: 100%;
    height: 100%;

    max-width: 1339px;
    max-height: 156px;

}

img.img_footer{
    width: 100%;
    height: 100%;

    max-width: 1339px;
    max-height: 156px;
}